{%extends 'layout.html'%}
{%block content%}
	<h1>Car rental</h1>
	<p>
		A car rental, hire car or car hire agency is a company that rents automobiles for short periods of time to the public, generally ranging from a few hours to a few weeks. It is often organized with numerous local branches (which allow a user to return a vehicle to a different location), and primarily located near airports or busy city areas and often complemented by a website allowing online reservations.
	</p>
	<p>
		Car rental agencies primarily serve people who require a temporary vehicle, for example, those who do not own their own car, travelers who are out of town, or owners of damaged or destroyed vehicles who are awaiting repair or insurance compensation. Car rental agencies may also serve the self-moving industry needs, by renting vans or trucks, and in certain markets, other types of vehicles such as motorcycles or scooters may also be offered.
	</p>
	<p>
		Alongside the basic rental of a vehicle, car rental agencies typically also offer extra products such as insurance, global positioning system (GPS) navigation systems, entertainment systems, mobile phones, portable WiFi and child safety seats.
	</p>
	<p>
		The earliest known example of cars being offered for rent dates back to 1906. The German company Sixt was established in 1912 under the name Sixth Autofahrten und Selbstfahrer (Sixth Car Cruises and Self Drivers).
		Joe Saunders of Omaha, Nebraska first started with only one borrowed Model T Ford in 1916, but by 1917, his Ford Livery Company was renting out 18 Model Ts at 10 cents per mile. The company name became Saunders Drive-It-Yourself System and then Saunders System. By 1926, Saunders had expanded to 56 cities.[3] Saunders' company was bought by Avis in 1955.
	</p>
	<p>
		The growth in travel after World War II led to the establishment of several well known international companies, including National Car Rental (1947), Europcar (1949), Enterprise Rent-A-Car (1957), Thrifty Rent A Car (1958), and Budget Rent a Car (1958).
	</p>
{%endblock content%}