{%extends 'layout.html'%}
{%block content%}
	<form action="{% url 'fine_charge' total_amount=total_amount booking_id=booking_id %}" method="post">
        {% csrf_token %}
          <article>
            <label>
              <span>Amount is Rs{{ total_amount }}</span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-description="Pay Fine"
                  data-amount= "{{ total_amount }}"
                  data-locale="auto"></script>
    </form>
{%endblock content%}




