{%extends 'layout.html'%}
{%block content%}
	<article class="media content-section">
		<div class="media-body">
			<p class="article-content">Name : {{ user.name }}</p>
			<p class="article-content">Username : {{ user.username }}</p>
			<p class="article-content">Email : {{ user.email }}</p>
			<div class="media">
				<img class="account-img" src="{{ image_file.url }}">
			</div>
			<a href="{% url 'accept_user' user_ver.user_id %}"><button type="button" class= "btn-outline-info">Approve</button></a>
			<a href="{% url 'reject_user' user_ver.user_id %}"><button type="button" class= "btn-outline-info">Reject</button></a>
		</div>
	</article>
{%endblock content%}