{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <p class="article-content">Car ID : {{ car.number_plate }}</p>
        <p class="article-content">Company : {{ car.company.company_name }}</p>
        <p class="article-content">Model : {{ car.model.model_name }}</p>
        <p class="article-content">Category : {{ car.category.category }}</p>
        <p class="article-content">Color : {{ car.color }}</p>
        <p class="article-content">Mileage : {{ car.mileage }}</p>
        <p class="article-content">City : {{ car.city.city }}</p>
        <p class="article-content">Minimum Rent : {{ car.min_rent }}</p>
        <p class="article-content">Price Per Day : {{ car.ppd }}</p>
        <p class="article-content">Deposit Amount : {{ car.deposit }}</p>
        <a href="{% url 'book_car' car.id %}"><button type="button" class= "btn-outline-info">Book Car!</button></a>
    </div>
</article>
{% endblock content %}